/* Existing styles here */

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.gender-selection {
    margin-top: 15px;
    padding: 0 5px;
}

.gender-title {
    display: block;
    margin-bottom: 8px;
    color: #878787;
    font-size: 0.75rem;
}

.gender-selection label {
    display: flex;
    align-items: center; /* Aligns the radio button with the text */
    margin-right: 15px;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
}

.gender-selection input[type="radio"] {
    margin-right: 5px; /* Space between radio button and text */
}

.terms-conditions {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
}

.terms-conditions label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.terms-conditions input[type="checkbox"] {
    margin-right: 8px;
}
