* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #004d00;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo a {
    color: white; /* Change to the desired color */
    font-family: 'YourFontFamily', serif; /* Replace with the desired font family */
    font-size: 1.5rem; /* Adjust size if necessary */
    font-weight: bold; /* Adjust weight if necessary */
    text-decoration: none; /* Ensure no underline */
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #ff6600;
}

.login-btn {
    background-color: #eeeeee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: rgb(22, 19, 19);
    box-shadow: 0 0.4rem #004d00;
    cursor: pointer;
}

.login-btn:active {
    color: white;
    box-shadow: 0 0.2rem #004d00;
    transform: translateY(0.2rem);
}

.login-btn:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}

.login-btn:disabled {
    cursor: auto;
    color: grey;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        padding: 1rem;
    }
    
    .nav-menu {
        margin-top: 1rem;
    }
    
    .nav-item {
        margin: 0.5rem 0;
    }
}

/* New styles for custom button */
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex; /* Updated to flex */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-1 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
}

.btn-1:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgb(0, 17, 255) 0%, rgba(2,126,251,1) 100%);
}
